@main("Euro Exchange Rates") {

    <h1>Euro Exchange Rates</h1>
    <p class="lead">Select a foreign currency below to view Euro exchange rate for the past 90 days.</p>

    <div id="error" class="alert alert-danger"></div>

    <div class="panel panel-default">
        <div class="panel-body">
            <select id="currency">
                <option value="USD" selected>USD</option>
                <option value="JPY">JPY</option>
                <option value="BGN">BGN</option>
                <option value="CZK">CZK</option>
                <option value="DKK">DKK</option>
                <option value="GBP">GBP</option>
                <option value="HUF">HUF</option>
                <option value="LTL">LTL</option>
                <option value="LVL">LVL</option>
                <option value="PLN">PLN</option>
                <option value="RON">RON</option>
                <option value="SEK">SEK</option>
                <option value="CHF">CHF</option>
                <option value="NOK">NOK</option>
                <option value="HRK">HRK</option>
                <option value="RUB">RUB</option>
                <option value="TRY">TRY</option>
                <option value="AUD">AUD</option>
                <option value="BRL">BRL</option>
                <option value="CAD">CAD</option>
                <option value="CNY">CNY</option>
                <option value="HKD">HKD</option>
                <option value="IDR">IDR</option>
                <option value="ILS">ILS</option>
                <option value="INR">INR</option>
                <option value="KRW">KRW</option>
                <option value="MXN">MXN</option>
                <option value="MYR">MYR</option>
                <option value="NZD">NZD</option>
                <option value="PHP">PHP</option>
                <option value="SGD">SGD</option>
                <option value="THB">THB</option>
                <option value="ZAR">ZAR</option>
            </select>
            <button id="refreshCurrent" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-euro"></span> Refresh Current</button>
            <button id="refreshAll" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-refresh"></span> Refresh All</button>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Exchange Rates for the Last 90 Days</h3>
        </div>
        <div id="barChart" class="panel-body">

        </div>
    </div>
    
}
